.goal--form {
  margin: 3rem;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 12px rgb(0 0 0/ 20%);
}

.goal--form--label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.goal--form--input {
  width: 100%;
  border: 1px solid #ccc;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.goal--form--label.invalid {
  color: red;
}

.goal--form--input.invalid {
  border-color: red;
  background-color: orangered;
}

.goal--form--input:focus {
  outline: none;
  background-color: #fad0ec;
  border-color: #8b005d;
}

.form--action {
  margin-top: 0.5rem;
}
